@charset "UTF-8";
@font-face {
  font-family: "HindSiliguri";
  font-display: swap;
  src: url("../fonts/HindSiliguri-Light.woff") format("woff"), url("../fonts/HindSiliguri-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HindSiliguri";
  font-display: swap;
  src: url("../fonts/HindSiliguri-Medium.woff") format("woff"), url("../fonts/HindSiliguri-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HindSiliguri";
  font-display: swap;
  src: url("../fonts/HindSiliguri-Regular.woff") format("woff"), url("../fonts/HindSiliguri-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HindSiliguri";
  font-display: swap;
  src: url("../fonts/HindSiliguri-SemiBold.woff") format("woff"), url("../fonts/HindSiliguri-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before, ._init .menu-footer__title:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-star:before {
  content: "\e900";
}

._icon-checkbox:before {
  content: "\e902";
}

._icon-glob:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-linkin:before {
  content: "\e908";
}

._icon-arrow-link:before {
  content: "\e90a";
}

._icon-change:before {
  content: "\e90b";
}

._icon-magnifier:before {
  content: "\e90c";
}

._icon-cart:before {
  content: "\e907";
}

._icon-heart:before {
  content: "\e909";
}

._icon-man:before {
  content: "\e901";
}

._icon-search:before {
  content: "\e90d";
}

._icon-arrow-down:before, ._init .menu-footer__title:before {
  content: "\e90e";
}

._icon-youtube:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e942";
}

._icon-envelop:before {
  content: "\e945";
}

._icon-cancel-circle:before {
  content: "\ea0d";
}

._icon-instagram:before {
  content: "\ea92";
}

/*reset css*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "HindSiliguri";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  height: 100%;
  color: #030d15;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  /*
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
	*/
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.modal-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-img__wrapper {
  position: relative;
  width: 80vh;
  height: 80vh;
}

@media (any-hover: none) {
  .modal-img__wrapper {
    margin: 30px;
  }
}

.modal-img__cart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.modal-img__close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
  color: rgba(244, 249, 252, 0.5);
  cursor: pointer;
  z-index: 12;
  -webkit-transition: color, background-color 0.3s ease 0s;
  transition: color, background-color 0.3s ease 0s;
  border-radius: 50%;
  -webkit-animation: swing 3s ease-in-out infinite 0s;
          animation: swing 3s ease-in-out infinite 0s;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(50%, -50%) rotate(-10deg);
            transform: translate(50%, -50%) rotate(-10deg);
  }
  50% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
  75% {
    -webkit-transform: translate(50%, -50%) rotate(10deg);
            transform: translate(50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(50%, -50%) rotate(-10deg);
            transform: translate(50%, -50%) rotate(-10deg);
  }
  50% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
  75% {
    -webkit-transform: translate(50%, -50%) rotate(10deg);
            transform: translate(50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
}

@media (any-hover: hover) {
  .modal-img__close:hover {
    color: #247cc0;
    background-color: #f4f9fc;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-animation: none;
            animation: none;
  }
}

.modal-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(0, 0, 0, 0.1);
}

._show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._hide {
  display: none;
}

._fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  min-height: 40px;
}

@media (max-width: 767.98px) {
  .header {
    max-height: 5px;
  }
}

.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (any-hover: hover) {
  .header._scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.header._scroll .header__body {
  max-height: 50px;
}

@media (min-width: 991.98px) {
  .header._scroll .header__body {
    max-height: 70px;
  }
}

.header__wrapper {
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__body {
  -webkit-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5px 0px;
  max-height: 90px;
}

@media (max-width: 767.98px) {
  .header__body {
    max-height: 50px;
  }
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.63158%;
          flex: 0 0 2.63158%;
}

.logo {
  margin: 0px 8px 0px 0px;
  position: relative;
  z-index: 5;
}

.logo-text {
  margin: 0px 8px 0px 0px;
  position: relative;
  z-index: 5;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 745px;
          flex: 0 1 745px;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #f4f9fc;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    background-color: #f4f9fc;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1060px) {
  .menu__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  margin: 0px 3px;
  position: relative;
}

.menu__item:not(:last-child) {
  padding: 5px 40px 5px 0px;
}

@media (any-hover: hover) {
  .menu__item:hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .menu__item:hover .menu__arrow,
  .menu__item:hover .menu__link {
    color: #247cc0;
  }
}

@media (min-width: 767.98px) {
  .menu__item._hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item._hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .menu__item._hover .menu__arrow,
  .menu__item._hover .menu__link {
    color: #247cc0;
  }
}

@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 15px 0px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__item:not(:last-child) {
    padding: 5px 0px 5px 0px;
  }
}

.menu__link {
  font-weight: 500;
  line-height: 164.28571%;
  text-transform: uppercase;
  font-size: 14px;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 24px;
    font-weight: 600;
  }
}

.menu__arrow {
  padding: 0px 8px;
  font-size: 8px;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (max-width: 767.98px) {
  .menu__arrow {
    font-size: 14px;
  }
  .menu__arrow._active {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.menu__sub-list {
  position: relative;
  background-color: #fff;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (min-width: 767.98px) {
  .menu__sub-list {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    min-width: 200px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 6;
  }
}

@media (max-width: 767.98px) {
  .menu__sub-list {
    background-color: #f4f9fc;
    margin: 10px -15px 0px -15px;
  }
}

.menu__sub-item:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

@media (max-width: 767.98px) {
  .menu__sub-item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

.menu__sub-link {
  color: inherit;
  line-height: 120%;
}

@media (any-hover: hover) {
  .menu__sub-link:hover {
    color: #247cc0;
    text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .menu__sub-link {
    font-size: 20px;
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 0px 5px 10px;
  padding-right: 30px;
}

@media (max-width: 1170px) {
  .search-form {
    padding-right: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

.search-form._active .search-form__item {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.search-form__icon {
  background-color: inherit;
  font-size: 18px;
  position: relative;
  z-index: 5;
  -webkit-transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (any-hover: hover) {
  .search-form__icon:hover {
    color: #247cc0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  border: 1px solid #247cc0;
  position: absolute;
  width: 100%;
  left: 0;
  top: -100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.search-form__btn {
  color: #247cc0;
  font-size: 18px;
  padding: 0px 5px;
  background-color: #fff;
  height: 35px;
  border-radius: 5px 0px 0px 5px;
}

.search-form__input {
  width: 100%;
  height: 35px;
  background-color: #f4f9fc;
  border-radius: 0px 5px 5px 0px;
}

.actions-header {
  position: relative;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (max-width: 1170px) {
  .actions-header {
    gap: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

.actions-header__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #f4f9fc;
  border-radius: 50%;
  color: #030d15;
  font-size: 18px;
  -webkit-transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (max-width: 1170px) {
  .actions-header__img {
    width: calc(25px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .actions-header__img {
    height: calc(25px + 10 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .actions-header__img:hover {
    color: #247cc0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@media (max-width: 767.98px) {
  .actions-header__img {
    background-color: #fff;
  }
}

.cart-header__icon {
  font-size: 18px;
  -webkit-transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: relative;
  display: block;
  color: #030d15;
}

@media (any-hover: hover) {
  .cart-header__icon:hover {
    color: #247cc0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.cart-header__icon span {
  position: absolute;
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: #c72535;
  color: #fff;
  font-size: 10px;
}

@media (max-width: 767.98px) {
  .icon-menu {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    margin-left: 30px;
  }
}

@media (max-width: 767.98px) and (max-width: 1170px) {
  .icon-menu {
    margin-left: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767.98px) {
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  background-color: #030d15;
  color: rgba(255, 255, 255, 0.6);
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 261px 1fr 261px;
      grid-template-columns: 261px 1fr 261px;
  padding-top: 75px;
  padding-bottom: 56px;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

@media (max-width: 1170px) {
  .footer__body {
    padding-top: calc(30px + 45 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__body {
    padding-bottom: calc(30px + 26 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .footer__body {
    -webkit-column-gap: calc(0px + 32 * ((100vw - 320px) / 850));
            column-gap: calc(0px + 32 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  .footer__body {
    display: block;
  }
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 991.98px) {
  .footer__main {
    padding-bottom: 40px;
  }
}

@media (max-width: 991.98px) and (max-width: 1170px) {
  .footer__main {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__text {
  font-size: 14px;
  line-height: 164.28571%;
  padding-bottom: 15px;
}

@media (max-width: 991.98px) {
  .footer__menu {
    padding-bottom: 20px;
  }
}

@media (max-width: 991.98px) and (max-width: 1170px) {
  .footer__menu {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 850));
  }
}

.text-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.lf {
  margin-left: 15px;
}

@media (max-width: 1170px) {
  .lf {
    margin-left: calc(5px + 10 * ((100vw - 320px) / 850));
  }
}

.ltf {
  margin: -20px 0;
}

@media (min-width: 767.98px) {
  .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 767.98px) {
  .menu-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }
}

.menu-footer__title {
  cursor: default;
}

@media (min-width: 767.98px) {
  .menu-footer__title {
    margin: 0px 0px 1.625em 0px;
  }
}

._init .menu-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._init .menu-footer__title:before {
  font-size: 8px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu-footer__title._active:before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

@media (max-width: 991.98px) {
  .menu-footer__list li {
    margin: 0px 0px 15px 0px;
  }
}

.menu-footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 164.28571%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  text-transform: capitalize;
}

@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #247cc0;
  }
}

._footer-title {
  font-weight: 600;
  line-height: 162.5%;
  color: #ffffff;
  text-transform: uppercase;
}

.subsсribe {
  width: 100%;
}

.subsсribe__title {
  margin: 0px 0px 15px 0px;
}

.subsсribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.subsсribe__form .form__error {
  position: absolute;
  top: 100%;
  left: 15px;
  margin: 3px 0px 0px 0px;
  color: #c72535;
  font-size: 14px;
  font-weight: 600;
  background-color: #f4f9fc;
  width: 30%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.subsсribe__button {
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .subsсribe__button:hover {
    color: #247cc0;
  }
}

.input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #030d15;
  margin: 0px 10px 0px 0px;
  height: 2.5em;
  border-radius: 5px;
}

.about-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-footer__title {
  margin: 0px 0px 1.625em 0px;
}

.about-footer__item {
  padding-bottom: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .about-footer__item:hover {
    color: #247cc0;
  }
}

.about-footer__item::before {
  margin-right: 10px;
  font-size: 13px;
}

.about-footer__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__icon {
  color: inherit;
  font-size: 20px;
  -webkit-transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding-bottom: 40px;
}

@media (max-width: 1170px) {
  .social__icon {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.social__icon:not(:last-child) {
  padding-right: 25px;
}

@media (max-width: 1170px) {
  .social__icon:not(:last-child) {
    padding-right: calc(10px + 15 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .social__icon:hover {
    color: #247cc0;
  }
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  z-index: 5;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.language._active .language__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.language._active .language__sub-list {
  -webkit-transform: translateY(-105%);
          transform: translateY(-105%);
  opacity: 1;
  visibility: visible;
}

@media (any-hover: hover) {
  .language:hover {
    color: #247cc0;
  }
}

.language__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language__name::before {
  margin-right: 10px;
}

.language__arrow {
  font-size: 8px;
  color: inherit;
  padding: 0 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.language__sub-list {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white;
          box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white;
  background-color: #f4f9fc;
  color: inherit;
}

.language__sub-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px;
  -webkit-transition: color, background-color 0.3s ease 0s;
  transition: color, background-color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .language__sub-link:hover {
    color: #fff;
    background-color: #247cc0;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vh;
          flex: 1 0 100vh;
  position: relative;
}

.main__body {
  padding-top: 90px;
  min-height: 100vh;
}

@media (min-width: 767.98px) {
  .main__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.text-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.text-main__subtitle {
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
  padding-bottom: 10px;
  z-index: 4;
}

.text-main__title {
  font-size: 61px;
  line-height: 120%;
  z-index: 4;
  padding-bottom: 30px;
}

@media (max-width: 1170px) {
  .text-main__title {
    font-size: calc(40px + 21 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .text-main__title {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

.text-main__title span {
  font-weight: 600;
  display: inline-block;
  color: #247cc0;
  background-color: #f4f9fc;
  padding: 0px 10px;
  margin-left: -10px;
}

.text-main__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-height: 150px;
  overflow: auto;
  font-size: 20px;
  line-height: 135%;
  color: rgba(3, 13, 21, 0.6);
  margin-bottom: 30px;
  z-index: 4;
}

@media (max-width: 1170px) {
  .text-main__text {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 850));
  }
}

.text-main__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 73px;
  z-index: 4;
}

@media (max-width: 1170px) {
  .text-main__action {
    padding-bottom: calc(20px + 53 * ((100vw - 320px) / 850));
  }
}

.text-main__btn {
  width: 151px;
  height: 58px;
  background-color: #247cc0;
  color: #fff;
  font-weight: 600;
  line-height: 162.5%;
  text-transform: uppercase;
  margin-right: 30px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (max-width: 1170px) {
  .text-main__btn {
    width: calc(100px + 51 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .text-main__btn {
    height: calc(40px + 18 * ((100vw - 320px) / 850));
  }
}

@media (any-hover: hover) {
  .text-main__btn:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.text-main__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  padding-right: 18px;
}

.text-main__discout {
  font-weight: 300;
  line-height: 169%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(3, 13, 21, 0.5);
}

.img {
  pointer-events: none;
}

@media (min-width: 767.98px) {
  .img {
    position: relative;
  }
}

@media (max-width: 767.98px) {
  .img {
    opacity: 0.3;
  }
}

.img__wrapper {
  position: absolute;
  top: 0;
  left: 5px;
  height: 100%;
  width: 112.80702%;
}

@media (max-width: 991.98px) {
  .img__wrapper {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 767.98px) {
  .img__wrapper {
    top: 20%;
    left: 0;
  }
}

.brands {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.brands__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767.98px) {
  .brands__row {
    -webkit-box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
            box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 76px;
    padding-bottom: 76px;
  }
}

@media (min-width: 767.98px) and (max-width: 1170px) {
  .brands__row {
    padding-top: calc(15px + 61 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 767.98px) and (max-width: 1170px) {
  .brands__row {
    padding-bottom: calc(15px + 61 * ((100vw - 320px) / 850));
  }
}

.brands__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__link:not(:last-child) {
  padding-right: 84px;
}

@media (max-width: 1170px) {
  .brands__link:not(:last-child) {
    padding-right: calc(30px + 54 * ((100vw - 320px) / 850));
  }
}

.about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  margin-bottom: 125px;
}

@media (max-width: 1170px) {
  .about {
    margin-bottom: calc(20px + 105 * ((100vw - 320px) / 850));
  }
}

.about::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f9fc;
  padding-bottom: 500px;
}

@media (max-width: 1170px) {
  .about::before {
    padding-bottom: calc(130px + 370 * ((100vw - 320px) / 850));
  }
}

.about__container {
  height: 100%;
}

.about__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .about__promo {
    margin: 0px 10px;
  }
}

.about__promo__about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-height: 870px;
}

.cart-button {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
  .cart-button:hover {
    color: #247cc0;
    border: 1px solid #247cc0;
    -webkit-transform: translate(-50%, -50%) scale(1.4);
            transform: translate(-50%, -50%) scale(1.4);
  }
}

.promo {
  padding-top: 132px;
  padding-bottom: 132px;
}

@media (max-width: 1170px) {
  .promo {
    padding-top: calc(30px + 102 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .promo {
    padding-bottom: calc(30px + 102 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 767.98px) {
  .promo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (min-width: 767.98px) and (max-width: 1170px) {
  .promo {
    -webkit-column-gap: calc(10px + 20 * ((100vw - 320px) / 850));
            column-gap: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

.promo__cart {
  margin-bottom: 30px;
}

@media (max-width: 1170px) {
  .promo__cart {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 991.98px) {
  .cart-promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart-promo__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cart-promo__cart {
  position: absolute;
  top: 0;
  left: 100%;
}

.cart-promo__img {
  position: relative;
  width: 100%;
  height: 100%;
}

.cart-promo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-promo__descr {
  margin-left: 30px;
  margin-right: 10px;
}

@media (max-width: 1170px) {
  .cart-promo__descr {
    margin-left: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

.descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 991.98px) {
  .descr {
    max-width: 50%;
  }
}

.descr__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 160%;
  padding-bottom: 9px;
}

.descr__text {
  font-size: 14px;
  line-height: 150%;
  color: rgba(3, 13, 21, 0.6);
  padding-bottom: 20px;
}

.descr__price {
  font-weight: 500;
  line-height: 169%;
  padding-bottom: 15px;
}

.descr__price p {
  display: inline-block;
  opacity: 0.5;
  text-decoration: line-through;
}

.descr__price span {
  opacity: 0.5;
}

.descr__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f4f9fc;
}

.img-promo__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (any-hover: hover) {
  .img-promo__wrapper:hover .img-promo__scale {
    font-size: 50px;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    color: rgba(244, 249, 252, 0.5);
    background-color: rgba(3, 13, 21, 0.3);
  }
}

.img-promo__scale {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (any-hover: none) {
  .img-promo__scale {
    font-size: 50px;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    color: rgba(244, 249, 252, 0.5);
  }
}

.show {
  margin-bottom: 111px;
}

@media (max-width: 1170px) {
  .show {
    margin-bottom: calc(40px + 71 * ((100vw - 320px) / 850));
  }
}

@media (min-width: 767.98px) {
  .show {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 30px;
  }
}

@media (min-width: 767.98px) and (max-width: 1170px) {
  .show {
    gap: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}

.show__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 35px;
}

@media (max-width: 1170px) {
  .show__box {
    padding-top: calc(30px + 45 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .show__box {
    padding-bottom: calc(30px + 45 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .show__box {
    padding-left: calc(15px + 20 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767.98px) {
  .show__box:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 767.98px) {
  .show__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 295px;
  }
}

.show__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 54.05405%;
  z-index: 4;
}

.show__sale {
  font-weight: 500;
  line-height: 169%;
  text-transform: uppercase;
  color: rgba(244, 249, 252, 0.6);
  margin-bottom: 5px;
}

.show__title {
  font-weight: 600;
  font-size: 31px;
  line-height: 130%;
  text-transform: uppercase;
  color: #f4f9fc;
  margin-bottom: 7px;
}

@media (max-width: 1170px) {
  .show__title {
    font-size: calc(20px + 11 * ((100vw - 320px) / 850));
  }
}

.show__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: #f4f9fc;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (any-hover: hover) {
  .show__btn:hover {
    color: #247cc0;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: #f4f9fc;
    border: 1px solid #247cc0;
  }
}

.show__img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 53.15315%;
}

@media (max-width: 767.98px) {
  .show__img {
    opacity: 0.6;
  }
}

.show__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-product__article {
  max-width: 41.22807%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5px;
  margin-bottom: 98px;
  margin-top: 50px;
}

@media (max-width: 1170px) {
  .about-product__article {
    margin-bottom: calc(20px + 78 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 1170px) {
  .about-product__article {
    margin-top: calc(20px + 30 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  .about-product__article {
    max-width: 70%;
  }
}

@media (max-width: 991.98px) {
  .about-product__article {
    max-width: none;
    margin: 0px 10px;
  }
}

.img-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1320px) {
  .img-about {
    left: 15%;
    width: 85%;
  }
}

@media (max-width: 991.98px) {
  .img-about {
    top: 0;
    left: 0;
    width: 100%;
  }
}

.img-about__bg {
  position: absolute;
  bottom: 0;
  left: -13.8%;
  width: 58.77193%;
  height: 80.45977%;
}

@media (max-width: 991.98px) {
  .img-about__bg {
    display: none;
  }
}

.img-about__img {
  position: absolute;
  top: 0;
  left: -15%;
  width: 58.77193%;
  height: 100%;
}

@media (max-width: 991.98px) {
  .img-about__img {
    opacity: 0.4;
    left: 0;
  }
}

@media (max-width: 767.98px) {
  .img-about__img {
    display: none;
  }
}

.article-about__subtitle {
  color: rgba(199, 37, 53, 0.6);
}

.article-about__title {
  margin-bottom: 115px;
}

@media (max-width: 1170px) {
  .article-about__title {
    margin-bottom: calc(40px + 75 * ((100vw - 320px) / 850));
  }
}

.article-about__text {
  line-height: 150%;
  color: rgba(3, 13, 21, 0.6);
  margin-bottom: 40px;
}

@media (max-width: 1170px) {
  .article-about__text {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }
}

.article-about__list {
  padding-bottom: 20px;
}

.list-about__point {
  font-weight: 500;
  font-size: 14px;
  line-height: 192.85714%;
  padding-left: 31px;
  position: relative;
}

.list-about__point::before {
  position: absolute;
  top: 5px;
  left: 0px;
  color: #fff;
  width: 18px;
  height: 18px;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #247cc0;
  border-radius: 50%;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 164.28571%;
  letter-spacing: 0.145em;
  text-transform: uppercase;
}

.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 161.36364%;
  text-transform: capitalize;
}
