// Миксины---------------------------------------------------------
@import "_mixins";
// Миксины---------------------------------------------------------

// подключаем шрифт-----------------------------------------------------------------

@import "fonts";

// подключаем шрифт-----------------------------------------------------------------
//<Иконочные шрифты>==========================================================================================
@import "icons";

//Шрифт по умолчанию----------------------------------------------------------------
$fontfamily: "HindSiliguri";
$fontsize: 16px;
//Шрифт 2----------------------------------------------------------------

//Переменные цвет---------------------------------------------------------------
$maincolor: #030d15;
$bluecolor: #247cc0;
$blueLigthColor: #f4f9fc;
$redcolor: #c72535;
//минимальная ширина--------------------------------------------------
$minWidth: 320px;
$maxWidth: 1600; //без px
$maxWidthContainer: 1170; //без px //1140+30 чтоб не прилипал к краям
$md1: $maxWidthContainer + 12; //без px
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// Переменные размер------------------------------------------------------------

// Переменные стиль трансформации
$transform-in: all 0.3s ease-in 0s;
$transform-out: all 0.3s ease-out 0s;
//обнуление-css, общие параменты--------------------------------------------------------------------
@import "_resetnull.scss";
body {
	height: 100%;
	color: $maincolor;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//обнуление-css--------------------------------------------------------------------
// обертка-----------------------------------------------------
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// Основная сетка---------------------------------------------------
}
.container {
	max-width: $maxWidthContainer + px;
	padding: 0px 15px; // чтоб не прилипал к краям
	margin: 0 auto;
	/*
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
	*/
}
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
//свойсва .ibg -делаем из картинки фон------------------------------------------
@import "_ibg.scss";
// popup-------------------------------
@import "popup.scss";
//modal-------------------------
@import "_modal-img.scss";

//подключаем header-------------------------------------------------------------------
@import "_header.scss";
//подключаем footer------------------------------------------------
@import "_footer.scss";
//-------------------------------------------------------------------
@import "_main.scss";
@import "_brands.scss";
@import "_about.scss";
//------------------------------------------------------------------

//main---------------------------------------

//------------------------------------------------------------------
// brends-----------------------------------

//---------------------------
